<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIT1MjvjLLNj_8LlVX_V9pAg_lj5gYabk</string>
	<key>GCM_SENDER_ID</key>
	<string>908716745880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hozan.Messenger2-0</string>
	<key>PROJECT_ID</key>
	<string>messenger2-0-74245</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger2-0-74245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908716745880:ios:d68f851edd760015955ced</string>
</dict>
</plist>